.inner {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %roboto-normal;
  font-size: 32px;
  line-height: normal;
}
.time {
  color: rgba(52, 58, 64, 0.8);
}
.icon {
  height: 55px;
  width: 55px;
}
.temperature {
  color: #343a40;
}
