.highlights {
  padding: 57px 0;
  background-color: #343a40;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  @include max-w(767) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
