.form {
  flex-basis: 603px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include max-w(767) {
    order: 2;
  }
  @include max-w(425) {
  }
}

.input {
  flex-grow: 1;
  height: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  @extend %roboto-medium;
  font-size: 24px;
  line-height: 1;
  &:focus-visible {
    outline: none;
  }
  @include max-w(425) {
    width: 230px;
    padding: 10px;
  }
}
.button {
  width: 73px;
  height: 100%;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #eb6f4c;
  cursor: pointer;
  @include max-w(425) {
    min-width: 50px;
  }
}

.icon {
  color: $light;
}
